.debug{
    border-style:solid;
 
}
.flexParent{
    display:flex;
    height: 100%;
    width:100%;
}
.sidebar{
    width: 10%;
    
}
.mainContent{
    width: 100%;
    height: 100%;
   
}


.searchParent{
    display: flex;
    overflow: scroll;
}
.searchResult{
    padding: 10px;
    width: 100px;
    text-align: center;
}

@media screen and (max-width:600px){
    .flexParent{
       flex-direction: column;
    }
    .sidebar{
        width: 100%;
        height: 30%;
        
    }
}
